Package: dnser
Version: 1.0.0
Section: base
Priority: optional
Architecture: amd64
Depends: bash
Maintainer: mojtabana [fotrosna@gmail.com]
Description: A DNS management tool for setting and clearing DNS
 This tool allows you to change and manage DNS settings on your Linux machine.
 It supports setting DNS for NetworkManager, systemd-resolved, and directly editing resolv.conf.
 